@import "colors.css";
@import "buttons";

$primary-color: #fff;

$primary-font: 'Times New Roman', Times, serif;

@mixin title-large {
  font-size: 4em;
  font-weight: bold;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  line-height: 1;
}

@mixin border-box {
  box-sizing: border-box;
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
}

@mixin separador($color) {
  &::after {
    content: ' ';
    display: block;
    width: 100px;
    height: 4px;
    background: #84e;
  }
}

@mixin mobile {
  @media(max-width: 600px) {
    @content;
  }
}

div {
  background-color: #0000;
  width: 100%;
}

section {
  max-width: 600px;
  margin: 0 auto;
  @include border-box;
}

h1 {
  color: $primary-color;
  font-family: $primary-font;
}

.modal {
  @include separador(#84e);
  h1 {
    color: black;
    @include title-large;
    @include mobile {
      color: pink;
    }
  }
}

ul {
  text-align: center;
  li {
    display: inline-block;
    list-style: none;
    a {
      display: block;
      text-decoration: none;
      background-color: blue;
      &:hover {
        background-color: red;
      }
    } 
  }
}