@mixin device($device) {
  @if $device == tablet {
    @media only screen and (min-width: 768px) and (max-width: 959px) {
      @content;
    }
  } @else if $device == mobile {
    @media only screen and (max-width: 767px) {
      @content;
    }
  }
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

$container: 960;
$gutter: 20px;
$colums: 16;

%grid {
  float: left;
  margin-left: calc($gutter / 2) + px;
  margin-right: calc($gutter / 2) + px;
}

@for $i from 1 through 16 {
  $width: (calc($container / $colums) * $i - $gutter);
  .grid-#{$i} {
    @extend %grid;
    width: $width + px;
  }
}

.grid-1-3 {
  @extend %grid;
  width: (calc($container/3) - $gutter + px);
}

.container {
  width: $container + px;
  margin: 0 auto;
  padding: 0px;
  position: relative;
}

.container:after,
.container:before {
  content: " ";
  display: table;
}

.container:after {
  clear: both;
}

@include device(tablet) {
  $container: 768;

  @for $i from 1 through 16 {
    $width: (calc($container / $colums) * $i - $gutter);
    .grid-#{$i} {
      width: $width + px;
    }
  }

  .grid-1-3 {
    @extend %grid;
    width: (calc($container/3) - $gutter + px);
  }

  .container {
    width: $container + px;
  }
}

@include device(mobile) {
  $container: 300;

  %mobile {
    width: $container + px;
    margin: 0 0 20px 0;
    float: none;
  }

  @for $i from 1 through 16 {
    $width: (calc($container / $colums) * $i - $gutter);
    .grid-#{$i} {
      @extend %mobile;
    }
  }

  .grid-1-3 {
    @extend %mobile;
  }

  .container {
    width: $container + px;
  }
}
